@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.btn-container-blue button {
    margin-left: 20px;
    position: relative;
    right: 20px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    border-radius: 15px;

    width: 115px;
    height: 35px;
}

.btn-container-blue .standardBtn {

    color: #F4F4F6;
    background-color: #0070C9;
    border-style: none;

}

.btn-container-blue .lightBtn {

    color: #0070C9;
    background-color: #00223D;
    border-style: none;
}

.btn-container-blue .whiteBtn {

    color: #0070C9;
    background-color: #F4F4F6;
    border-style: none;
}

.btn-container-blue .borderdBtn {

    color: #0070C9;
    background-color: #1D1D20;
    border: 2px solid #0070C9;


}

.btn-container-pink button {
    margin-left: 20px;
    position: relative;
    right: 20px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    border-radius: 15px;

    width: 115px;
    height: 35px;
}

.btn-container-pink .standardBtn {

    color: #F4F4F6;
    background-color: #F33EAD;
    border-style: none;

}

.btn-container-pink .lightBtn {

    color: #F33EAD;
    background-color: #461433;
    border-style: none;
}

.btn-container-pink .whiteBtn {

    color: #F33EAD;
    background-color: #F4F4F6;
    border-style: none;
}

.btn-container-pink .borderdBtn {

    color: #F33EAD;
    background-color: #1D1D20;
    border: 2px solid #F33EAD;


}

.btn-container-red button {
    margin-left: 20px;
    position: relative;
    right: 20px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    border-radius: 15px;

    width: 115px;
    height: 35px;
}

.btn-container-red .standardBtn {

    color: #F4F4F6;
    background-color: #F33E49;
    border-style: none;

}

.btn-container-red .lightBtn {

    color: #F33E49;
    background-color: #441013;
    border-style: none;
}

.btn-container-red .whiteBtn {

    color: #F33E49;
    background-color: #F4F4F6;
    border-style: none;
}

.btn-container-red .borderdBtn {

    color: #F33E49;
    background-color: #1D1D20;
    border: 2px solid #F33E49;


}

.btn-container-green button {
    margin-left: 20px;
    position: relative;
    right: 20px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    border-radius: 15px;

    width: 115px;
    height: 35px;
}

.btn-container-green .standardBtn {

    color: #F4F4F6;
    background-color: #24BE78;
    border-style: none;

}

.btn-container-green .lightBtn {

    color: #24BE78;
    background-color: #0B2C1D;
    border-style: none;
}

.btn-container-green .whiteBtn {

    color: #24BE78;
    background-color: #F4F4F6;
    border-style: none;
}

.btn-container-green .borderdBtn {

    color: #24BE78;
    background-color: #1D1D20;
    border: 2px solid #24BE78;


}