body {
   overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.bubble1 {
    height: 354.71px;
    width: 300px;
    transform: rotate(45deg);
    background-color: #0070C9;
    filter: blur(180px);
    border-radius: 50%;

    display: inline-block;
    position: absolute;
    left: 800px;
    top: -300px;
}

.bubble2 {
    height: 354.71px;
    width: 100px;
    transform: rotate(45deg);
    background-color: #0070C9;
    filter: blur(180px);
    border-radius: 50%;

    display: inline-block;
    position: absolute;
    top: 300px;
}

.bubble3 {
    height: 354.71px;
    width: 100px;
    transform: rotate(45deg);
    background-color: #0070C9;
    filter: blur(180px);
    border-radius: 50%;

    display: inline-block;
    position: absolute;
    top: 400px;
    right: 10px;
    
}

