.navbar {
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid rgba(42, 42, 43, 0.5);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: height 0.3s ease, opacity 0.3s ease; 
}

.hidden {
    height: 0;
    opacity: 0;
    overflow: hidden; 
}
