.text1 {
    font-size: 1.5rem;
    font-family: Inter, sans-serif;
    font-weight: 300;
    color: transparent;
    background-image: linear-gradient(100deg, #E5E5E5, #999999);
    background-clip: text;
    position: relative;
    margin-left: auto;
    margin-right: 5em;
    top: -1em;
    width: 530px;
  
    display: flex;
}

.button {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: 35.2em;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    width: 120px;
    height: 40px;
    background-color: #461433;
    color: #F33EAD;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
    .text1 {
        font-size: 20px; 
        width: 80%; 
        left: 50%; 
        transform: translateX(-50%);
        bottom: 100px; 
    }
}

@media only screen and (min-width: 769) {
    .text1 {
        font-size: 15px; 
        width: 80%; 
        left: 50%; 
        transform: translateX(-50%);
        bottom: 100px; 
    }
}

