.text1 {
    font-size: 26px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    color: transparent;
    background-image: linear-gradient(100deg, #E5E5E5, #999999);
    background-clip: text;
    position: relative;
    margin-left: auto;
    margin-right: 280px;
    top: 20px;
    width: 530px;
  
    display: flex;
}

.button {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: 690px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    width: 120px;
    height: 40px;
    background-color: #0070C9;
    color: #fff;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
    .text1 {
        font-size: 20px; 
        width: 80%; 
        left: 50%; 
        transform: translateX(-50%);
        bottom: 100px; 
    }
}
